<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <receiver
            android:name=".reminders.GradeReminderDebugReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver" />
        <activity
            android:name=".widget.ScheduleWidgetPreviewCaptureActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.Light.Dialog.NoActionBar"
            tools:ignore="ExportedActivity" />
    </application>

</manifest>
